<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.townscript.imdb.ui.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.townscript.imdb.ui.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.townscript.imdb.ui.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>com.townscript.imdb.ui.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MoviPageServlet</servlet-name>
    <servlet-class>com.townscript.imdb.ui.MoviPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoviPageServlet</servlet-name>
    <url-pattern>/movipage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MoviServlet</servlet-name>
    <servlet-class>com.townscript.imdb.ui.MoviServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoviServlet</servlet-name>
    <url-pattern>/movi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateNewPageServlet</servlet-name>
    <servlet-class>com.townscript.imdb.ui.CreateNewPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewPageServlet</servlet-name>
    <url-pattern>/createnewpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.townscript.imdb.ui.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment/*</url-pattern>
  </servlet-mapping>
  
</web-app>